<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar libro</title>
</head>
<body>
    <form action="{% url 'libros:eliminar_libro' libro.id %}" method="POST" onsubmit="return confirm('¿Estás seguro que deseas eliminar este libro?');">

        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'libros:lista_libros' %}" class="btn btn-secondary">Cancelar</a>
    </form>
    
</body>
</html>